---
import Layout from "../layouts/Layout.astro";
import RepositoryList from "../components/RepositoryList";
import ProgrammingLanguageFilter from "../components/ProgrammingLanguageFilter.astro";
---

<Layout>
  <div class="container">
    <ProgrammingLanguageFilter />

    <RepositoryList client:load />
  </div>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-40);
    padding-bottom: var(--spacing-40);
  }

  /* MOBILE */
  @media screen and (max-width: 480px) {
    .container {
      padding: 0;
    }
  }
</style>
