.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-24);
}

.text {
  color: rgba(var(--color-white), 1);
  font-size: var(--font-size-20);
}

.title {
  font-size: var(--font-size-60);
}
