<header>
  <div>Good First Issues</div>
</header>

<style>
  header {
    height: var(--header-height);
    background-color: var(--color-black);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
  }
</style>
