<header>
  <div>Good First Issues</div>
</header>

<style>
  header {
    height: var(--header-height);
    background-color: rgba(var(--color-black), 0.9);
    padding: 0 var(--spacing-24);
    color: rgba(var(--color-white), 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 1px solid rgba(var(--color-white), 0.2);
    margin-bottom: var(--spacing-40);
  }
</style>
