.container {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(1, 1fr);
}

.containerSpinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containeError {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.infiniteScrollContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-40);
  align-items: center;
}

/* SMALL LAPTOPS AND TABLETS */
@media screen and (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing-40);
  }
}

/* MOBILE */
@media screen and (max-width: 480px) {
  .container {
    padding: 0;
  }
}
